*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    min-width: 450px;
    background: #3498db;
}

.wrapper{
    height: 260px;
    background: white; 
    border-radius: 5px;
    padding: 20px 20px ;
    transition: height 0.2s ease;
}

.wrapper.active{
    height: 470px;
}

header h1{
    font-size: 20px;
    font-weight: 500;
}

header p{
    margin-top: 5px;
    font-size: 16px;
    color: black;
}

.wrapper .form{
    margin: 10px 0 20px;
}

.form :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input{
    font-size: 18px;
    padding: 0px 17px;
    border: 1px solid black;
}

.form button{
    color: white;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    background-color: #3498db;
}

.wrapper .qr_code{
    display: flex;
    opacity: 0;
    pointer-events: none;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.wrapper.active .qr_code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}